/* ajustando o rodape*/
.rodape {
    margin-top: 40px;
    padding: 40px 0;
    box-shadow: 0px 0px 40px 10px #ffffff2a;

    & .icones_logo, .icones_link, .icones_email {
        padding: 20px 0px;
    }
    & .icones_link svg {
        font-size: 22px;
    }

    & .linha {
        border-top: 2px solid #61DAFB;
    }
    /* tirar decoração do link, ajustar icone do email  */
    & .icones_email p a {
        color: white;

        & svg {
            font-size: 30px;
            color: #61DAFB;
        }
    }
}

/* ajustando icones_logo */
.icones_logo {
    & ul li {
        display: inline-block;
        & svg {
            font-size: 80px;
        }
        /* cores dos icones */
        .js {
            color: #f7df1e;
        }
        .react {
            color: #61DAFB;
        }
        .python {
            color: #3776AB;
        }
        .flask {
            color: white;
        }

    } 
}

/*animação de pulsação com o transform, tbm poderia fazer o opacity */
.icones_logo ul li svg {
    transition: 2s;
    animation: pulsar 2s infinite;
}
@keyframes pulsar {
    0% {
        transform: scale(1.01);
    }
    50% {
        transform: scale(1.06);
    }
    100% {
        tranform: scale(1.20);
    }
}

/* Responsivo */
@media screen and (max-width: 1440px) {
    .icones_logo, .icones_link {
        margin: 0 auto;
    }
}
