/* caixa de texto */
.caixa_txt {
    margin: 0 auto;
    width: 800px;
    padding: 15px;

    & h2, p {
        margin-top: 25px;
    }
    & h2 {
        font-size: 22px;
    }
    & span {
        color: #61DAFB;
    }
    & button {
        margin: 25px 4px;
    }
    & svg {
        font-size: 22px;
    }
}

/* Responsividade */
@media screen and (max-width: 1440px) {
    .caixa_txt {
        width: 340px;
        height: 100%;
    }
}