/* txt */
.topoDoSite .caixa_txt {
    width: 1000px;
    height: 215px;
    margin-top: 50px;

    & h1 {
        font-size: 25px;
    }

    & h1, p, button {
        margin-top: 25px;
    }
    & span {
        color: #61DAFB;
    }
}
/*Animação do h1 */
.caixa_txt h1{
    border-right: 4px solid #61DAFB;  /* pra ficar parecendo que tá digitando */
    white-space: nowrap;
    width: 21ch;    /* quantidade de caracteres, coloque um background antes pra ver */
    overflow: hidden;  /* elementos vazados não aparecem */
    animation: exibição 2s steps(21) 1,animaMarcador 0.5s infinite;
    animation-delay: 1.5s;   /* delay antes de começar a animação */
}
@keyframes exibição {
    0% {
        width: 0;
    }
    100% {
        width: 21ch;
    }
}
@keyframes animaMarcador {
    50% {
        border-right: transparent;   /*pra animar somente aquela borda */
    }
}

/* Animação da foto */
.foto {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 40px;
    }
}

/* responsividade */
@media screen and (max-width: 1440px) {
    .topoDoSite .caixa_txt {
        margin-top: 20px;
        width: 380px;
        height: 100%;
    }
    .foto {
        margin:  25px auto;
        & img {
            width: 150px;
        }
    }
}