
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  background-color: black;
  color: white;
}

/* rolagem suave ao navegar por âncoras dentro de uma página */
html {
  scroll-behavior: smooth;
}