.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.margin-top {
    margin-top: 40px;
}

/* pra usar no rodapé */
.flex-wrap {
    flex-wrap: wrap;
}

/* Responsividade */
@media screen and (max-width:1440px) {
    .interface {
        flex-direction: column;
    }
}